# Razorpay Configuration
# Get Key ID from https://dashboard.razorpay.com/app/keys
REACT_APP_RAZORPAY_KEY_ID=rzp_test_RlrpUuxmGsNfzJ

# Backend Secret (keep this hidden - never share!)
RAZORPAY_KEY_SECRET=ShX1XTYbUhdt40WVmVbIdoU8

# Backend URL (for API calls)
REACT_APP_BACKEND_URL=http://localhost:5000

REACT_APP_ADMIN_EMAIL=admin@example.com